<div class="d-flex align-items-center justify-content-center" >
    
</div>

<% if @user %> 
    user signed as: <%= @user.email %>
    <%= button_to "log out", sign_out_path, method: :delete %>   
<% end %>
